<div class="main-content">
	<div class="container">
		<h3>
			<button mat-button (click)="cancel()" class="btn-lg">
				<i class="material-icons">arrow_back</i>
			</button>
			Developers
		</h3>
		<div class="profiles row">
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="card-avatar">
						<img class="img" src="../../assets/img/sathish.jpg" />
					</div>
					<div class="card-body">
						<h6 class="card-category text-gray">UI/UX</h6>
						<h4 class="card-title">Sathish Kumar J.</h4>
						<p>sathish.j@congruentglobal.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="card-avatar">
						<img class="img" src="../../assets/img/kavi.JPG" />
					</div>
					<div class="card-body">
						<h6 class="card-category text-gray">UI/UX</h6>
						<h4 class="card-title">Kavi Priya E.</h4>
						<p>kavipriya.ek@congruentglobal.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="card-avatar">
						<img class="img" src="../../assets/img/jagu.JPG" />
					</div>
					<div class="card-body">
						<h6 class="card-category text-gray">Database Management</h6>
						<h4 class="card-title">Jagruti V. Joshi</h4>
						<p>joshi.v@congruentglobal.com</p>
					</div>
				</div>
			</div>
		</div>
		<div class="profiles row">
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="card-avatar">
						<img class="img" src="../../assets/img/suganya.jpg" />
					</div>
					<div class="card-body">
						<h6 class="card-category text-gray">Database Management</h6>
						<h4 class="card-title">Suganya A.</h4>
						<p>suganya.a@congruentglobal.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="card-avatar">
						<img class="img" src="../../assets/img/rubika.jpg" />
					</div>
					<div class="card-body">
						<h6 class="card-category text-gray">
							Testing & Project Management
						</h6>
						<h4 class="card-title">Rubika Devi B.</h4>
						<p>rubika.b@congruentglobal.com</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="card-avatar">
						<img class="img" src="../../assets/img/devi.jpg" />
					</div>
					<div class="card-body">
						<h6 class="card-category text-gray">Middleware</h6>
						<h4 class="card-title">Devi Priya A.</h4>
						<p>devipriya.a@congruentglobal.com</p>
					</div>
				</div>
			</div>
		</div>
		<div class="profiles row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<div class="card card-profile">
					<div class="card-avatar">
						<img class="img" src="../../assets/img/manimozhiyal.JPG" />
					</div>
					<div class="card-body">
						<h6 class="card-category text-gray">Middleware</h6>
						<h4 class="card-title">Manimozhiyal S.</h4>
						<p>Not Available</p>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>
