<div class="main-content">
	<div class="container">
    <h3>Developers</h3>
    <div class="profiles row">
        <div class="col-md-4">
            <div class="card card-profile">
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="../../assets/img/sathish.jpeg" />
                </a>
              </div>
              <div class="card-body">
                <h6 class="card-category text-gray">UI/UX</h6>
                <h4 class="card-title">Sathish Kumar J.</h4>
                <p>sathishmitnick@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="../../assets/img/cg-logo.png" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">UI/UX</h6>
                  <h4 class="card-title">Kavi Priya E.</h4>
                  <p>ekpriya2015@gmail.com</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                  <div class="card-avatar">
                    <a href="#pablo">
                      <img class="img" src="../../assets/img/jagu.JPG" />
                    </a>
                  </div>
                  <div class="card-body">
                    <h6 class="card-category text-gray">Database Management</h6>
                    <h4 class="card-title">Jagruti V. Joshi</h4>
                    <p>jvj1097@gmail.com</p>
                  </div>
                </div>
              </div>
    </div>
    <div class="profiles row">
              <div class="col-md-4">
                  <div class="card card-profile">
                    <div class="card-avatar">
                      <a href="#pablo">
                        <img class="img" src="../../assets/img/cg-logo.png" />
                      </a>
                    </div>
                    <div class="card-body">
                      <h6 class="card-category text-gray">Database Management</h6>
                      <h4 class="card-title">Suganya A.</h4>
                      <p>asuganya.ainfo@gmail.com</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                      <div class="card-avatar">
                        <a href="#pablo">
                          <img class="img" src="../../assets/img/cg-logo.png" />
                        </a>
                      </div>
                      <div class="card-body">
                        <h6 class="card-category text-gray">Testing & Project Management</h6>
                        <h4 class="card-title">Rubika Devi B.</h4>
                        <p>	rubikabaskaran25@gmail.com</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                      <div class="card card-profile">
                        <div class="card-avatar">
                          <a href="#pablo">
                            <img class="img" src="../../assets/img/devi.jpg" />
                          </a>
                        </div>
                        <div class="card-body">
                          <h6 class="card-category text-gray">Middleware</h6>
                          <h4 class="card-title">Devi Priya A.</h4>
                          <p>email3devipriya@gmail.com</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="profiles row">
                    <div class="col-md-4">
                        
                      </div>
                      <div class="col-md-4">
                          <div class="card card-profile">
                            <div class="card-avatar">
                              <a href="#pablo">
                                <img class="img" src="../../assets/img/cg-logo.png" />
                              </a>
                            </div>
                            <div class="card-body">
                              <h6 class="card-category text-gray">Middleware</h6>
                              <h4 class="card-title">Manimozhiyal S.</h4>
                              <p>manimozhisathiya7@gmail.com</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-4">
                            
                          </div>
                    
    </div>
    
	</div>
</div>
