
<div class="main-panel">
  <div class="row">
      <div class="col-xs-3 col-md-3 col-lg-3"></div>
<div class="card col-xs-6 col-md-6 col-lg-6">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Log In</h4>
    <p class="card-category"></p>
  </div>
  <div class="card-body">
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row">                
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Email address</label>
              <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
            </div>
            </div>
          </div>
          <div class="col-md-12">
              <div class="form-group">
                <label class="bmd-label-floating">Password</label>
                <input type="password"  formControlName="password"  class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
              </div>
            </div>
          </div>
         
        <button type="submit" class="btn btn-primary pull-right">Log In</button>
        <div class="clearfix"></div>
    </form>
    <button mat-button (click)="forgot()" class="pull-left">Forgot Password ?</button>
  </div>
</div>
<div class="col-xs-3 col-md-3 col-lg-3"></div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <a href="https://www.congruentglobal.com" target="_blank">Congruent Global Inc.</a>
        </div>
    </div>
</footer>


</div>