<div class="logo">
    <a href="#" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/cg-logo.png"/>
        </div>
        SwipeIO
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">        
        <li class="nav-item">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">person</i>
                <p>
                    <span class="d-lg-none d-md-block">{{currentEmployee.emp_name}}</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" (click)="Logout()">Log Out</a>
            </div>
        </li>
    </ul>
  </div>
    <ul *ngIf="currentEmployee.is_admin; else elseBlock" class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
    <ng-template #elseBlock>
            <ul class="nav">
                    <li routerLinkActive="active" *ngFor="let menuItem of menuItems_employee" class="{{menuItem.class}} nav-item">
                        <a class="nav-link" [routerLink]="[menuItem.path]">
                            <i class="material-icons">{{menuItem.icon}}</i>
                            <p>{{menuItem.title}}</p>
                        </a>
                    </li>
                </ul>
    </ng-template>
</div>
