<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="Leaves" class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Gates
                                <button mat-raised-button type="button" (click)="addGate()"  class="btn btn-success btn-md pull-right">
                                        <i class="material-icons">add</i> Add
                                </button>
                        </h4>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Gate Name
                                    </th>
                                    <th>
                                        Remove
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let Gate of Gates">
                                        <td>
                                            {{Gate.gate_name}}
                                        </td>
                                        <td class="td-actions">
                                                <button mat-raised-button type="button" (click)="deleteGate(Gate)" matTooltip="Remove {{Gate.gate_name}}" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-md btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Leave Descriptions
                                <button mat-raised-button type="button"  class="btn btn-success btn-md pull-right disabled">
                                        <i class="material-icons">add</i> Add
                                </button>
                        </h4>
                        
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Leave Description
                                    </th>
                                    <th>
                                        Remove
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let Leave of Leaves">
                                        <td>
                                            {{Leave.leave_name}}
                                        </td>
                                        <td class="td-actions">
                                                <button mat-raised-button type="button" (click)="deleteLeaves(Leave)"  matTooltip="Remove  {{Leave.leave_name}}" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-md btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title ">Cards
                                    <button mat-raised-button type="button" (click)="addCard()" class="btn btn-success btn-md pull-right">
                                            <i class="material-icons">add</i> Add
                                    </button>
                            </h4>
                            
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>
                                            Card Number
                                        </th>
                                        <th>
                                            Remove
                                        </th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let Card of Cards">
                                            <td>
                                                {{Card.card_number}}
                                            </td>
                                            <td class="td-actions">
                                                    <button mat-raised-button type="button" (click)="deleteCards(Card)"  matTooltip="Remove  {{Card.card_number}}" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-md btn-just-icon">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4" *ngIf="RegularizedReasons">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title ">Regularized Reasons
                                        <button mat-raised-button type="button" (click)="addRegularizedReason()" class="btn btn-success btn-md pull-right">
                                                <i class="material-icons">add</i> Add
                                        </button>
                                </h4>
                                
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Regularized Reason
                                            </th>
                                            <th>
                                                Remove
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let regularizedReason of RegularizedReasons">

                                                <td>
                                                    {{regularizedReason.regularized_reason}}
                                                </td>
                                                <td class="td-actions">
                                                        <button mat-raised-button type="button" (click)="deleteRegularizedReason(regularizedReason)" matTooltip="Remove  {{regularizedReason.regularized_reason}}" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-md btn-just-icon">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
  </div>
  