<div class="main-content">
	<div class="container-fluid">
		<button routerLink="/add" class="btn btn-success">
			<span class="material-icons">person_add</span> Add a new Employee
		</button>
		<div *ngIf="Employees" class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title ">Employee Details</h4>
						<p class="card-category"></p>
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-hover">
								<thead class=" text-primary">
									<th>
										Employee ID
									</th>
									<th>
										Employee Name
									</th>
									<th>
										Email ID
									</th>

									<th>
										Admin / Employee
									</th>
									<th>View / Edit / Remove</th>
								</thead>
								<tbody>
									<tr *ngFor="let employee of Employees">
										<td>
											{{ employee.emp_number }}
										</td>
										<td>
											{{ employee.emp_name }}
										</td>
										<td>
											{{ employee.email }}
										</td>

										<td>
											{{ isAdmin(employee.is_admin) }}
										</td>
										<td class="td-actions">
											<button
												(click)="viewReport(employee)"
												mat-raised-button
												type="button"
												matTooltip="View {{ employee.emp_name }}'s Report"
												[matTooltipPosition]="'above'"
												class="btn btn-info btn-link btn-md btn-just-icon"
											>
												<i class="material-icons">poll</i>
											</button>
											<button
												routerLink="/edit/{{ employee.emp_id }}"
												mat-raised-button
												type="button"
												matTooltip="Edit {{ employee.emp_name }} Details"
												[matTooltipPosition]="'above'"
												class="btn btn-warning btn-link btn-md btn-just-icon"
											>
												<i class="material-icons">edit</i>
											</button>
											<button
												(click)="deleteEmployee(employee)"
												mat-raised-button
												type="button"
												matTooltip="Remove {{ employee.emp_name }}"
												[matTooltipPosition]="'above'"
												class="btn btn-danger btn-link btn-md btn-just-icon"
											>
												<i class="material-icons">close</i>
											</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
