<div class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header card-header-danger">
						<h4 class="card-title">Add Employee</h4>
					</div>
					<div class="card-body">
						<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="example-full-width">
										<input
											matInput
											type="text"
											formControlName="emp_name"
											class="form-control"
											placeholder="Employee Name"
											[ngClass]="{
												'is-invalid': submitted && f.emp_name.errors
											}"
										/>
										<div
											*ngIf="submitted && f.emp_name.errors"
											class="invalid-feedback"
										>
											<div *ngIf="f.emp_name.errors.required">
												Name is required
											</div>
										</div>
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<mat-form-field class="example-full-width">
										<input
											matInput
											formControlName="email"
											class="form-control"
											[ngClass]="{ 'is-invalid': submitted && f.email.errors }"
											placeholder="Email address"
											type="text"
										/>
										<div
											*ngIf="submitted && f.email.errors"
											class="invalid-feedback"
										>
											<div *ngIf="f.email.errors.required">
												Email is required
											</div>
											<div *ngIf="f.email.errors.email">
												Enter a valid email
											</div>
										</div>
									</mat-form-field>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<mat-form-field class="example-full-width">
										<input
											matInput
											formControlName="emp_id"
											class="form-control"
											[ngClass]="{ 'is-invalid': submitted && f.emp_id.errors }"
											placeholder="Employee ID"
											type="text"
										/>
										<div
											*ngIf="submitted && f.emp_id.errors"
											class="invalid-feedback"
										>
											<div *ngIf="f.emp_id.errors.required">
												Employee ID is required
											</div>
											<div *ngIf="f.emp_id.errors.minlength">
												Enter a valid Employee ID
											</div>
										</div>
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<mat-form-field class="example-full-width">
										<input
											matInput
											formControlName="pass_word"
											class="form-control"
											[ngClass]="{
												'is-invalid': submitted && f.pass_word.errors
											}"
											placeholder="Password"
											type="password"
										/>
										<div
											*ngIf="submitted && f.pass_word.errors"
											class="invalid-feedback"
										>
											<div *ngIf="f.pass_word.errors.required">
												Password is required
											</div>
											<div *ngIf="f.pass_word.errors.minlength">
												Password must be at least 8 characters
											</div>
										</div>
									</mat-form-field>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<mat-form-field>
										<mat-label>Select Card</mat-label>
										<mat-select
											class="form-control"
											[ngClass]="{
												'is-invalid': submitted && f.card_id.errors
											}"
											formControlName="card_id"
											required
										>
											<mat-option>--</mat-option>
											<mat-option *ngFor="let card of Cards" [value]="card">
												{{ card.card_number }}
											</mat-option>
										</mat-select>
										<div
											*ngIf="submitted && f.card_id.errors"
											class="invalid-feedback"
										>
											<div *ngIf="f.card_id.errors.required">
												Please select a card
											</div>
										</div>
									</mat-form-field>
								</div>
								<div class="col-md-6">
									<mat-form-field>
										<mat-label>Select Incharges</mat-label>
										<mat-select
											class="form-control"
											formControlName="incharges"
											[ngClass]="{
												'is-invalid': submitted && f.incharges.errors
											}"
											multiple
										>
											<mat-option
												*ngFor="let Employee of Employees"
												[value]="Employee.emp_id"
												>{{ Employee.emp_name }}</mat-option
											>
										</mat-select>
									</mat-form-field>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-check">
										<label class="form-check-label">
											<input
												class="form-check-input"
												formControlName="is_admin"
												[ngClass]="{
													'is-invalid': submitted && f.is_admin.errors
												}"
												type="checkbox"
												value=""
											/>
											Admin
											<span class="form-check-sign">
												<span class="check"> </span>
											</span>
										</label>
										<div
											*ngIf="submitted && f.is_admin.errors"
											class="invalid-feedback"
										></div>
									</div>
								</div>

								<div class="col-md-6">
									<div class="form-check">
										<label class="form-check-label">
											<input
												class="form-check-input"
												formControlName="is_contract"
												[ngClass]="{
													'is-invalid': submitted && f.is_contract.errors
												}"
												type="checkbox"
												value=""
											/>
											Contract
											<span class="form-check-sign">
												<span class="check"> </span>
											</span>
										</label>
										<div
											*ngIf="submitted && f.is_contract.errors"
											class="invalid-feedback"
										></div>
									</div>
								</div>
							</div>
							<button
								mat-raised-button
								type="submit"
								class="btn btn-success pull-right"
							>
								Add
							</button>
							<div class="clearfix"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
