<div class="main-content">
    <div class="container-fluid">
      <h2 mat-dialog-title>Recover Password</h2>
      <mat-dialog-content class="mat-typography">
        <div class="row">
            <div class="col-md-12">
               <h3>Please Contact The Administrator.</h3>   
            </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions align="end">
        <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Okay</button>
      </mat-dialog-actions>
    </div>
  </div>
  